name: Test
on: push

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:

    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install Package
      run: pip install -e .[test]

    - name: Run Tests
      run: pytest
